${htmlAutoGenerationComment}

<html>
<head>
  <title>${model.f_name}</title>
  <link rel="StyleSheet" type="text/css" href="../style.css">
</head>
<body>
<h1>${model.f_name}</h1>

<table class="attributeTable">
<tr>
  <th>Summary</th>
</tr>
<tr>
  <td>${model.f_help}</td>
</tr>
</table>

<br>
<br>

<table class="attributeTable">
<tr>
  <th>Fields</th>
  <th>Type</th>
  <th>Attributes</th>
  <th>Description</th>
</tr>
#foreach ( $field in $model.fieldsSorted )
<tr>
  <td>${field.f_name}&nbsp;</td>

  <td>${field.type.f_name}
    #if ( $field.type.hasMinimumLength() )
        <br><nobr>min length: $field.type.f_minimumLength</nobr>
    #end
    #if ( $field.type.hasMaximumLength() )
        <br><nobr>max length: $field.type.f_maximumLength</nobr>
    #end
    #if ( $field.type.validCharacters.size() > 0 )
      #foreach( $ch in $field.type.validCharacters )
        <br><nobr>allows $ch</nobr>
      #end
    #end
  </td>

  <td>
     #if ( $field.isAbstract() )            <nobr>abstract</nobr><br>    #end
     #if ( $field.isIdentity() )            <nobr>identity</nobr><br>    #end
     #if ( $field.isPrimaryKey() )          <nobr>primary key</nobr><br> #end
     #if ( $field.isRequired() )            <nobr>required</nobr><br>    #end
     #if ( $field.hasEnum() )               <nobr>enum</nobr><br>        #end
     #if ( $field.isAuditLogDisabled() )    <nobr>audit disabled</nobr>  #end
     #if ( $field.isAuditLogMasked() )      <nobr>audit masked</nobr>    #end
     &nbsp;
  </td>

  <td>
    ${field.f_helpHtml}
    &nbsp;
  </td>

</tr>
#end
</table>


<br>
<br>


<table class="attributeTable">
<tr>
  <th>Collections</th>
  <th>Type</th>
  <th>Comment</th>
</tr>
#foreach ( $col in $model.sortedCollections )
<tr>
  <td>${col.f_name}&nbsp;</td>

  <td>
      ${col.f_Type}
      <br>${col.f_WrapperTypeHtml}
      #if ( $col.hasSequenceField() )
        <br>Sequenced On ${col.sequenceField.f_name}
      #end
  </td>

  <td>
    ${col.f_commentHtml}
    &nbsp;
  </td>

</tr>
#end
</table>

</body>
</html>
