body
{
    font:               10pt sans-serif;
    background-color:   #fff;
}

h1
{
    font:               bold 24pt sans-serif;
}

.attributeTable
{
    border-collapse:    collapse;
    width:              100%;
}

.attributeTable th
{
    font:               bold 12pt sans-serif;
    text-align:         left;
    vertical-align:     top;
    padding:            3px 3px 3px 3px;
    background-color:   yellow;
    border:             1px solid #666;
}

.attributeTable th.header
{
    font:               bold 16pt sans-serif;
}

.attributeTable tr:nth-child(even)
{
  background-color: #eee;
}

.attributeTable td
{
    padding:        5px;
    font:           10pt sans-serif;
    text-align:     left;
    vertical-align: top;
    border:         1px solid #666;
}

a, a:visited
{
    font:  12pt/18pt sans-serif;
    color: #00F;
    margin: 5px;
}

a:hover
{
    color: #F0F;
}
