/*******************************************************************
 * default theme
 *******************************************************************/

/*
    The variables are intentionally blank for the
    default theme.
    
    See ../base/variables.styl for variables that
    you can override in your custom theme.
*/
