/*******************************************************************
 ** accordion
 *******************************************************************/

.accordion
{
    content: normal; /* Stylus Compression Hack, see comment above. */
}

.accordionEnabledTab
{
    font: bold 1.2rem $fontFamily;
    color: #000000;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 5px;
    cursor: pointer;
}

.accordionEnabledTab:hover
{
    color: #0000FF;
}

.accordionDisabledTab
{
    font: bold 1.2rem $fontFamily;
    color: #000000;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 5px;
    cursor: pointer;
}

.accordionOpenTab
{
    font: bold 1.2rem $fontFamily;
    color: #000000;
    background-color: #DDDD66;
    border: 1px solid #444444;
    padding: 5px;
    cursor: pointer;
}

.accordionOpenBody
{
    background-color: #FFFF88;
    border: 1px solid #444444;
    border-top: none;
    padding: 5px;
}

