/*******************************************************************
 ** active task
 *******************************************************************/

.activeTask-navBox
{
    flex-grow:          1;
    flex-shrink:        1;
    flex-basis:         0px;
    display:            flex;
    flex-direction:     row;
    padding:            $activeTask-padding;
    border:             $activeTask-border;
}

.activeTask-divider
{
    height:             $activeTask-dividerHeight;
    background-color:   $activeTask-backgroundColor;
    border-left:        $activeTask-border;
    border-right:       $activeTask-border;
}
