//******************************
//** calendar
//******************************


a.fc-time-grid-event:hover
    text-decoration: none


//******************************
//** selection
//******************************


.calendar-eventSelection div.fc-time,
.calendar-eventSelection div.fc-title
    color:              $calendar-eventSelectionColor


.calendar-eventSelection
    background-color:   $calendar-eventSelectionBackground
    border:             $calendar-eventSelectionBorder


//******************************
//** clickable
//******************************


.calendar-clickable
    cursor:              pointer


//******************************
//** holiday
//******************************


.calendar-eventHoliday .fc-time,
.calendar-eventHoliday .fc-title
    color:              $calendar-holidayColor


.calendar-eventHoliday
    background-color:   $calendar-holidayBackground
    border:             $calendar-holidayBorder


//******************************
//** event a
//******************************


.calendar-eventA .fc-time,
.calendar-eventA .fc-title
    color:              $calendar-eventAColor


.calendar-eventA
    background-color:   $calendar-eventABackground
    border:             $calendar-eventABorder


//******************************
//** event b
//******************************


.calendar-eventB .fc-time,
.calendar-eventB .fc-title
    color:              $calendar-eventBColor


.calendar-eventB
    background-color:   $calendar-eventBBackground
    border:             $calendar-eventBBorder


//******************************
//** event c
//******************************


.calendar-eventC .fc-time,
.calendar-eventC .fc-title
    color:              $calendar-eventCColor


.calendar-eventC
    background-color:   $calendar-eventCBackground
    border:             $calendar-eventCBorder


//******************************
//** event d
//******************************


.calendar-eventD .fc-time,
.calendar-eventD .fc-title
    color:              $calendar-eventDColor
                
                
.calendar-eventD
    background-color:   $calendar-eventDBackground
    border:             $calendar-eventDBorder


//******************************
//** event e
//******************************


.calendar-eventE .fc-time,
.calendar-eventE .fc-title
    color:              $calendar-eventEColor


.calendar-eventE
    background-color:   $calendar-eventEBackground
    border:             $calendar-eventEBorder


//******************************
//** event f
//******************************


.calendar-eventF .fc-time,
.calendar-eventF .fc-title
    color:              $calendar-eventFColor


.calendar-eventF
    background-color:   $calendar-eventFBackground
    border:             $calendar-eventFBorder

