//******************************
//** calendar
//******************************

a.fc-time-grid-event:hover
    text-decoration: none

//******************************
//** selection
//******************************

.calendar-eventSelection div.fc-time,
.calendar-eventSelection div.fc-title
    color:              $calendar-eventSelectionColor

.calendar-eventSelection
    background-color:   $calendar-eventSelectionBackground
    border:             $calendar-eventSelectionBorder

//******************************
//** holiday
//******************************

.calendar-eventHoliday div.fc-time,
.calendar-eventHoliday div.fc-title
    color:              $calendar-holidayColor

.calendar-eventHoliday
    background-color:   $calendar-holidayBackground
    border:             $calendar-holidayBorder

//******************************
//** event a
//******************************

.calendar-eventA div.fc-time,
.calendar-eventA div.fc-title
    color:              $calendar-eventAColor

.calendar-eventA
    background-color:   $calendar-eventABackground
    border:             $calendar-eventABorder

//******************************
//** event b
//******************************

.calendar-eventB div.fc-time,
.calendar-eventB div.fc-title
    color:              $calendar-eventBColor

.calendar-eventB
    background-color:   $calendar-eventBBackground
    border:             $calendar-eventBBorder

//******************************
//** event c
//******************************

.calendar-eventC div.fc-time,
.calendar-eventC div.fc-title
    color:              $calendar-eventCColor

.calendar-eventC
    background-color:   $calendar-eventCBackground
    border:             $calendar-eventCBorder

