//******************************
//* page content
//******************************


/**
 * The unique ID for the page content box.
 * Used by javascript.
 */
#content
    content: normal // prevent stylus compression


.content-bare
    position:   absolute
    left:       0
    right:      0
    top:        0
    bottom:     0
    overflow:   hidden


.content-print
    content: normal // prevent stylus compression


.content-basic
    position:       absolute
    left:           0
    right:          0
    top:            $header-height
    bottom:         $footer-height
    overflow:       hidden


.content-normal
    position:       absolute
    left:           $content-leftMargin
    right:          $content-rightMargin
    top:            $header-height + $menu-height + $title-height
    bottom:         $footer-height
    overflow:       visible
    background:     $content-background


//******************************
//* inner
//******************************


#content-inner
    content: normal // prevent stylus compression


.content-bare   > #content-inner,
.content-basic  > #content-inner,
.content-normal > #content-inner
    position:       absolute
    left:           0
    right:          0
    top:            0
    bottom:         0
    overflow:       visible
    display:        flex
    flex-direction: column


.content-print #content-inner
    content: normal // prevent stylus compression


//******************************
//* page root
//******************************


.content-pageRoot
    position:       relative
