/*******************************************************************
 ** crud
 *******************************************************************/


.crud-footerErrorBox
    color:              red
    padding:            2px 5px
    background-color:   white
    font:               normal 1.2rem $fontFamily
    border:             1px solid #f00
    margin:             10px
    margin-bottom:      0


.crud-viewCardBox
    border:             1px solid #aaa
    box-shadow:         5px 5px 5px #ccc
    padding:            10px


.crud-search
    flex-grow:          5
    flex-shrink:        5
    flex-basis:         0
    margin-right:       20px
    min-width:          300px
    max-width:          450px


.crud-frame
    flex-grow:          8
    flex-shrink:        8
    flex-basis:         0
