//******************************
//* dialog
//******************************


//******************************
//* jquery overrides
//******************************


.ui-widget-overlay
    opacity:        $dialog-overlayOpacity                  if $dialog-overlayOpacity


.ui-dialog
    border:         $dialog-border                          if $dialog-border
    box-shadow:     $dialog-shadow                          if $dialog-shadow
    padding:        0
    overflow:       visible


.ui-dialog-titlebar
    background:     $dialog-titleBackground                 if $dialog-titleBackground
    border:         none
    border-bottom:  $dialog-border                          if $dialog-border


.ui-dialog-title
    font:           $dialog-titleFont                       if $dialog-titleFont


.dialogNoClose .ui-dialog-titlebar-close
    /* optionally hide the default close button */
    display: none


//******************************
//* app
//******************************


.dialog-header
    background:         $dialog-headerBackground                if $dialog-headerBackground
    border-bottom:      $dialog-border                          if $dialog-border


.dialog-bodyNormal
    background-color:   #fff


.dialog-bodyCaution
    background-color:   #ffe;


.dialog-bodyAlert
    background-color:   #fee


.dialog-footer
    background:         $dialog-footerBackground                if $dialog-footerBackground
    border-top:         $dialog-border                          if $dialog-border
