//******************************
//* error
//******************************

/*
 * I am used to identify all error elements regardless of their
 * visual style so that they can be easily identified and hidden.
 * I should not contain any styling.
 */
.error
    content: normal // prevent stylus compression


//******************************
//* attached
//******************************


.error-attachedBox
    content: normal // prevent stylus compression


.error-attachedBox .error
    font:               $error-attachedFont
    color:              $error-attachedColor
    background:         $error-attachedBackground
    border:             $error-attachedBorder
    padding:            $error-attachedPadding
    margin:             $error-attachedMargin


//******************************
//* detached
//******************************


.error-detachedBox
    content: normal // prevent stylus compression


.error-detachedBox .error
    font:               $error-detachedFont
    color:              $error-detachedColor
    background:         $error-detachedBackground
    border:             $error-detachedBorder
    padding:            $error-detachedPadding
    margin:             $error-detachedMargin


//******************************
//* box
//******************************


.error-box
    font:               $error-boxFont
    color:              $error-boxColor
    background:         $error-boxBackground
    border:             $error-boxBorder
    padding:            $error-boxPadding
    margin:             $error-boxMargin
