/*******************************************************************
 ** field table
 *******************************************************************/

table.fields
{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

tr.fields
{
}

td.fields
{
    padding: 0;
    vertical-align: top;
}

td.fieldsTop
{
    content: normal; /* Stylus Compression Hack, see comment above. */
}

td.fieldsMore
{
    padding-top: 3px;
}

td.fieldsLeft
{
    vertical-align: middle;
}

td.fieldsStar
{
    vertical-align: middle;
}

td.fieldsRight
{
    padding-left: 3px;
}

/*******************************************************************
 ** field layout
 *******************************************************************/

.fieldLayout
{
    content: normal; /* Stylus Compression Hack, see comment above. */
}

.fieldLayoutRow
{
    margin-top: 15px;
}
.fieldLayoutRow:first-child
{
    margin-top: 0;
}

.fieldLayoutLabel
{
    font: bold 1.3rem $fontFamily;
    color: #000;
    white-space: nowrap;
    vertical-align: middle;
}
