/*******************************************************************
 ** field set
 *******************************************************************/

.fieldset
    position:           relative
    border:             $fieldset-bodyBorder
    border-radius:      $fieldset-bodyRadius

.fieldset-legend-default
    font:               $fieldset-legendFont
    padding:            $fieldset-legendPadding
    color:              $fieldset-legendColor
    background-color:   $fieldset-legendBackground
    border:             $fieldset-legendBorder
    border-radius:      $fieldset-legendRadius

.fieldset-body-default
    color:              $fieldset-bodyColor
    background-color:   $fieldset-bodyBackground

