/*****************************
 ** page footer
 *****************************/

/**
 * The unique ID for the footer box.
 * Used by javascript.
 */
#footer
    content: normal // prevent stylus compression

.footer
    box-sizing: border-box
    position:       absolute
    left:           0
    right:          0
    bottom:         0
    height:         $footer-height
    background:     $footer-background
    border:         $footer-border

.footer-text
    text-align:     center
    color:          $footer-color
    font:           $footer-font
    padding-top:    $footer-padding
