//******************************
//** form
//******************************


/*
 * The section that contains the filter,
 * as well as the refresh and add buttons.
 */
.formFilter
    box-sizing:         border-box
    height:             50px
    background-color:   $formFilterLineBackgroundColor
    border:             1px solid $formFilterLineBorderColor


//******************************
//** banner
//******************************

/*
 * The top section used to display a selected value.
 * This contains the title and subtitle text, and the edit button(s).
 */
.formBanner
    box-sizing:         border-box
    height:             50px

    display:            flex
    align-items:        center

    background-color:   #bdc
    background-image:   linear-gradient(to bottom, #ced, #bdc)
    border:             1px outset #fff


//******************************
//** title
//******************************

/*
 * The title text, displayed inside the banner.
 */
.formTitle
    font:               bold 1.6rem $fontFamily


//******************************
//** sub title
//******************************

/*
 * The subtitle text, displayed inside the banner.
 */
.formSubtitle
    font:               italic 1.2rem $fontFamily


//******************************
//** error
//******************************


/*
 * May be used to display error messages.
 */
.formError
    box-sizing:         border-box

    display:            flex
    align-items:        center

    color: #f00;
    background-color:   #fff
    border:             1px outset #f00
    padding:            10px



//******************************
//** header
//******************************


/*
 * Displayed below the banner.
 */
.formHeader
    box-sizing:         border-box
    height:             50px

    display:            flex
    align-items:        center

    background-color:   #eed
    border:             1px outset #fff


.formHeaderText
    font: italic 1.8rem $fontFamily


//******************************
//** footer
//******************************


.formFooter
    box-sizing:         border-box
    height:             50px

    display:            flex
    align-items:        center

    background-color:   #eed
    border:             1px outset #fff


//******************************
//** section
//******************************


.formSectionLeft
    flex-grow:      1
    flex-shrink:    1
    white-space:    nowrap
    overflow:       hidden
    padding:        10px


.formSectionRight
    flex-grow:      0
    flex-shrink:    0
    white-space:    nowrap
    overflow:       hidden
    padding:        10px


//******************************
//** empty
//******************************


.formEmpty
    background-color:   #ffe
    font:               normal 1.4rem $fontFamily
    padding:            10px


//******************************
//** help
//******************************


.formHelp
    box-sizing:     border-box

    height:         11px
    width:          11px
    padding-left:   11px /* equal to width */

    cursor:         help
    vertical-align: middle
    background:     url(../image/fieldHelp11.png) no-repeat

