//*******************************************************************
//** group (default)
//**
//** The default groups are designed to vertically expand as needed
//** based on the contents of the body.
//*******************************************************************

/**
 * the html structure looks like:
 *
 *      div.group
 *          div.groupBannerHeader (for detached shadows)
 *              div.groupBanner
 *              div.groupHeader
 *          div.groupBody
 *          div.groupFooter
 */


//******************************
//* internal variables
//******************************


$group-normal-border        = $group-borderSize $group-borderStyle $group-normal-borderColor
$group-accent-border        = $group-borderSize $group-borderStyle $group-accent-borderColor
$group-list-border          = $group-borderSize $group-borderStyle $group-list-borderColor
$group-detail-border        = $group-borderSize $group-borderStyle $group-detail-borderColor
$group-summary-border       = $group-borderSize $group-borderStyle $group-summary-borderColor
$group-minor-border         = $group-borderSize $group-borderStyle $group-minor-borderColor
$group-alert-border         = $group-borderSize $group-borderStyle $group-alert-borderColor


//******************************
//* base
//******************************


.group
    box-sizing:     border-box


.groupBlock
    display:        flex
    flex-direction: column


.groupInline
    display:        inline-flex
    flex-direction: column


//******************************
//* banner header
//******************************


.bannerHeader


//******************************
//* banner
//******************************


.groupBanner
    flex-grow:      0
    flex-shrink:    0
    overflow:       hidden
    height:         $group-bannerHeight


//******************************
//* banner title
//******************************


.groupTitle
    font:           $group-titleFont        if $group-titleFont
    padding:        $group-titlePadding     if $group-titlePadding
    white-space:    nowrap


//******************************
//* header
//******************************


.groupHeader
    flex-grow:       0
    flex-shrink:     0
    overflow:        hidden


//******************************
//* body
//******************************


.groupBody
    position:        relative
    flex-grow:       1
    flex-shrink:     1


//******************************
//* footer
//******************************


.groupFooter
    flex-grow:       0
    flex-shrink:     0
    overflow:        hidden


//******************************
//* normal
//******************************


.groupNormal
    border:     $group-normal-border


.groupNormal > .groupBannerHeader
    border:     $group-normal-border


.groupNormal > .groupBannerHeader > .groupBanner
    color:      $group-normal-bannerColor
    background: $group-normal-bannerBackground
    border:     $group-normal-border


.groupNormal > .groupBannerHeader > .groupHeader
    color:      $group-normal-headerColor
    background: $group-normal-headerBackground
    border:     $group-normal-border


.groupNormal > .groupBody
    color:      $group-normal-bodyColor
    background: $group-normal-bodyBackground
    border:     red


.groupNormal > .groupFooter
    color:      $group-normal-footerColor
    background: $group-normal-footerBackground
    border:     $group-normal-border


//******************************
//* accent
//******************************


.groupAccent
    border:     $group-accent-border


.groupAccent > .groupBannerHeader
    border:     $group-accent-border


.groupAccent > .groupBannerHeader > .groupBanner
    color:      $group-accent-bannerColor
    background: $group-accent-bannerBackground
    border:     $group-accent-border


.groupAccent > .groupBannerHeader > .groupHeader
    color:      $group-accent-headerColor
    background: $group-accent-headerBackground
    border:     $group-accent-border


.groupAccent > .groupBody
    color:      $group-accent-bodyColor
    background: $group-accent-bodyBackground
    border:     $group-accent-border


.groupAccent > .groupFooter
    color:      $group-accent-footerColor
    background: $group-accent-footerBackground
    border:     $group-accent-border


//******************************
//* list
//******************************


.groupList
    border:     $group-list-border


.groupList > .groupBannerHeader
    border:     $group-list-border


.groupList > .groupBannerHeader > .groupBanner
    color:      $group-list-bannerColor
    background: $group-list-bannerBackground
    border:     $group-list-border


.groupList > .groupBannerHeader > .groupHeader
    color:      $group-list-headerColor
    background: $group-list-headerBackground
    border:     $group-list-border


.groupList > .groupBody
    color:      $group-list-bodyColor
    background: $group-list-bodyBackground
    border:     $group-list-border


.groupList > .groupFooter
    color:      $group-list-footerColor
    background: $group-list-footerBackground
    border:     $group-list-border


//******************************
//* detail
//******************************


.groupDetail
    border:     $group-detail-border


.groupDetail > .groupBannerHeader
    border:     $group-detail-border


.groupDetail > .groupBannerHeader > .groupBanner
    color:      $group-detail-bannerColor
    background: $group-detail-bannerBackground
    border:     $group-detail-border


.groupDetail > .groupBannerHeader > .groupHeader
    color:      $group-detail-headerColor
    background: $group-detail-headerBackground
    border:     $group-detail-border


.groupDetail > .groupBody
    color:      $group-detail-bodyColor
    background: $group-detail-bodyBackground
    border:     $group-detail-border


.groupDetail > .groupFooter
    color:      $group-detail-footerColor
    background: $group-detail-footerBackground
    border:     $group-detail-border


//******************************
//* summary
//******************************


.groupSummary
    border:     $group-summary-border


.groupSummary > .groupBannerHeader
    border:     $group-summary-border


.groupSummary > .groupBannerHeader > .groupBanner
    color:      $group-summary-bannerColor
    background: $group-summary-bannerBackground
    border:     $group-summary-border


.groupSummary > .groupBannerHeader > .groupHeader
    color:      $group-summary-headerColor
    background: $group-summary-headerBackground
    border:     $group-summary-border


.groupSummary > .groupBody
    color:      $group-summary-bodyColor
    background: $group-summary-bodyBackground
    border:     $group-summary-border


.groupSummary > .groupFooter
    color:      $group-summary-footerColor
    background: $group-summary-footerBackground
    border:     $group-summary-border


//******************************
//* minor
//******************************


.groupMinor
    border:     $group-minor-border


.groupMinor > .groupBannerHeader
    border:     $group-minor-border


.groupMinor > .groupBannerHeader > .groupBanner
    color:      $group-minor-bannerColor
    background: $group-minor-bannerBackground
    border:     $group-minor-border


.groupMinor > .groupBannerHeader > .groupHeader
    color:      $group-minor-headerColor
    background: $group-minor-headerBackground
    border:     $group-minor-border


.groupMinor > .groupBody
    color:      $group-minor-bodyColor
    background: $group-minor-bodyBackground
    border:     $group-minor-border


.groupMinor > .groupFooter
    color:      $group-minor-footerColor
    background: $group-minor-footerBackground
    border:     $group-minor-border


//******************************
//* alert
//******************************


.groupAlert
    border:     $group-alert-border


.groupAlert > .groupBannerHeader
    border:     $group-alert-border


.groupAlert > .groupBannerHeader > .groupBanner
    color:      $group-alert-bannerColor
    background: $group-alert-bannerBackground
    border:     $group-alert-border


.groupAlert > .groupBannerHeader > .groupHeader
    color:      $group-alert-headerColor
    background: $group-alert-headerBackground
    border:     $group-alert-border


.groupAlert > .groupBody
    color:      $group-alert-bodyColor
    background: $group-alert-bodyBackground
    border:     $group-alert-border


.groupAlert > .groupFooter
    color:      $group-alert-footerColor
    background: $group-alert-footerBackground
    border:     $group-alert-border


//******************************
//* attached
//******************************


.groupAttached
    box-shadow:             $group-shadow


.groupAttached > .groupBannerHeader
    border:                 none


.groupAttached > .groupBannerHeader > .groupBanner
    border-left:            none
    border-right:           none
    border-top:             none


.groupAttached > .groupBannerHeader > .groupHeader
    border-left:            none
    border-right:           none
    border-top:             none
    border-bottom-width:    $group-borderInnerSize


.groupAttached > .groupBody
    border:                 none


.groupAttached > .groupFooter
    border-top-width:       $group-borderInnerSize
    border-left:            none
    border-right:           none
    border-bottom:          none


//******************************
//* detached
//******************************


.groupDetached
    border:         none


.groupDetached > .groupBody
    border:         none
    background:     none


.groupDetached > .groupBannerHeader
    box-shadow:     $group-shadow
    margin-bottom:  10px


.groupDetached > .groupBannerHeader > .groupBanner
    border:         none


.groupDetached > .groupBannerHeader > .groupHeader
    border-left:    none
    border-right:   none
    border-bottom:  none


.groupDetached > .groupFooter
    box-shadow:     $group-shadow
    margin-top:     10px


//******************************
//* divider
//******************************


.groupDivider
    height:     1px
    border-top: 1px solid #cccccc
