//******************************
//** Google Material Icons
//** see ScIcon
//******************************


//******************************
//** style
//******************************


.iconStyleDark
    color: black


.iconStyleLight
    color: white


.iconStyleWarning
    color: orange


.iconStyleError
    color: #e91


.iconStylePositive
    color: #5b7


.iconStyleNegative
    color: #e91


//******************************
//** size
//******************************

.iconSizeButton
    font-size: 2.0rem
