/*****************************
 ** link
 *****************************/

.link
    color:              $link-color                     if $link-color
    font:               $link-font                      if $link-font
    text-decoration:    $link-textDecoration            if $link-textDecoration
    cursor:             pointer

.link:hover
    color:              $link-color-hover               if $link-color-hover
    font:               $link-font-hover                if $link-font-hover
    text-decoration:    $link-textDecoration-hover      if $link-textDecoration-hover

/*****************************
 ** jqueryUi overrides
 *****************************/

.ui-widget-content a
    color:              $link-color                     if $link-color
    font:               $link-font                      if $link-font
    text-decoration:    $link-textDecoration            if $link-textDecoration
    cursor:             pointer

.ui-widget-content a:hover
    color:              $link-color-hover               if $link-color-hover
    font:               $link-font-hover                if $link-font-hover
    text-decoration:    $link-textDecoration-hover      if $link-textDecoration-hover
