//****************************
//* readiness checks
//****************************

.readinessCheckName
    display:        block
    font:           bold 1.8rem $fontFamily


.readinessCheckMessage
    display:        block
    font-style:     normal


.readinessCheckSuffix
    display:        block
    font-style:     italic


.readinessCheckAction
    display:        block
    font-weight:    bold


.readinessCheckReady
    display:        block
    font:           bold 1.4rem $fontFamily
    color:          #0b6


.readinessCheckNotReady
    display:        block
    font:           bold 1.4rem $fontFamily
    color:          red
