/*******************************************************************
 ** rich text editor (rte)
 *******************************************************************/

.rte-tableBorders > tbody > tr > td
{
    border: 1px solid gray;
    padding: 2px 5px 2px 5px;
}

.rte-heading1
{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.rte-heading2
{
    font-size: 2rem;
    color: #777;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.rte-heading3
{
    font-size: 1.6rem;
    color: #777;
    font-style: italic;
    margin-bottom: 10px;
}
