/*******************************************************************
 ** sql result
 *******************************************************************/

.sqlResultBlock
{
    border: 1px solid #444;
    padding: 5px;

    box-shadow:         5px 5px 5px #ccc;
}

.sqlResultSelect
{
    background-color: #ff0;
}

.sqlResultUpdate
{
    background-color: #0ff;
}

.sqlResultError
{
    background-color: #f00;
}

table.sqlResultTable
{
    content: normal; /* Stylus Compression Hack, see comment above. */
}

td.sqlResultHeader
{
    font-weight: bold;
    padding: 3px;
    background-color: #eee;
    white-space: nowrap;
    border: 1px solid gray;
}

tr.sqlResultValue:nth-child(even)
{
    background-color: #fff;
}

tr.sqlResultValue:nth-child(odd)
{
    background-color: #eee;
}

td.sqlResultValue
{
    padding: 3px;
    border: 1px solid gray;
    white-space: nowrap;
}

