//****************************
//* summary view
//****************************


//****************************
//* variables
//****************************

$summaryView-color      = #444
$summaryView-background = #f8f8f8
$summaryView-border     = 1px solid #ebecee

$summaryView-color      = ()
$summaryView-background = ()
$summaryView-border     = ()



//****************************
//* css
//****************************

.summaryView
    box-sizing:         border-box
    height:             5rem

    color:              $summaryView-color              if $summaryView-color
    background-color:   $summaryView-background         if $summaryView-background
    border:             $summaryView-border             if $summaryView-border
    padding:            10px
    overflow:           hidden


.summaryView-title
    font:               bold 1.6rem $fontFamily
    white-space:        nowrap
    overflow:           hidden
    text-overflow:      ellipsis


.summaryView-subtitle
    font:               italic 1.2rem $fontFamily
    white-space:        nowrap
    overflow:           hidden
    text-overflow:      ellipsis


.summaryView.groupHeader
    border-top:         1px solid #aaa
    border-right:       0px
    border-left:        0px
    border-bottom:      0px
