/*******************************************************************
 ** task designer
 *******************************************************************/

.taskDesignerSteps
.taskDesignerItems
.taskDesignerPreview
    box-sizing:         border-box
    margin:             0 0 0 0
    position:           absolute

@media (orientation: landscape)
    .taskDesignerTasks
        top:            0
        height:         50%
        left:           0
        width:          30%

    .taskDesignerSteps
        top:            0
        height:         100%
        left:           0
        width:          30%

    .taskDesignerItems
        top:            50%
        bottom:         0
        left:           0
        width:          30%
        margin-top:     20px

    .taskDesignerPreview
        top:            0
        bottom:         0
        left:           30%
        right:          0
        margin-left:    20px

@media (orientation: portrait)
    .taskDesignerSteps
        top:            0
        height:         30%
        left:           0
        width:          100%

    .taskDesignerItems
        top:            0
        height:         30%
        left:           50%
        right:          0
        margin-left:    20px

    .taskDesignerPreview
        top:            30%
        bottom:         0
        left:           0
        right:          0
        margin-top:     20px
