/*******************************************************************
 ** obsolete styles
 **
 ** These are NOT included in the application.
 ** These are kept temporarily for a historical reference.
 ** These will eventually be deleted.
 *******************************************************************/


/*******************************************************************
 ** app menu (NOT USED?)
 *******************************************************************/



$appMenuItemHoverBorderColor        = #CCCCCC



/*******************************************************************
 ** main
 *******************************************************************/

table.main
{
    padding: 0;
    margin: 0;
    height: 400px;
    width: 100%;
    border-collapse: collapse;
}

td.main
{
    padding: 0;
    margin: 0;
    background-color: #eee;
    min-height: 400px;
    height: 400px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

table.content
{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}

td.content
{
    vertical-align: top;
    margin: 0;
    padding: 5px;
}


/*******************************************************************
 ** rules (dividers)
 *******************************************************************/

.divider-inner-groove
{
    box-sizing: border-box;
    height: 2px;
    border-top:    1px solid #aaa;
    border-bottom: 1px solid #fff;
}

.divider-inner-bevel
{
    box-sizing: border-box;
    height: 2px;
    border-top:    1px solid #fff;
    border-bottom: 1px solid #aaa;
}

.divider
{
    box-sizing: border-box;
    height: 2px;
    border-top:    .textMinSize
{
    min-width: 3em;
    min-height: 1.1em;
}

    1px solid #aaa;
    border-bottom: 1px solid #fff;
}


/*******************************************************************
 ** position
 *******************************************************************/

.offset
{
    left:   10px;
    right:  10px;
    top:    10px;
    bottom: 10px;
}

.leftOffset     { left:   10px }
.rightOffset    { right:  10px }
.topOffset      { top:    10px }
.bottomOffset   { bottom: 10px }


/*******************************************************************
 ** misc
 *******************************************************************/

.textMinSize
{
    min-width: 3em;
    min-height: 1.1em;
}

