${javaAutoGenerationComment}

package ${package}.hibernate.base;

public abstract class ${Prefix}HibernateConfigurationBase
{
    protected void installMappings()
    {
#foreach ( $model in $root.databaseModels )
        installMapping("${model.f_name}");
#end
    }

    protected abstract void installMapping(String clazz);
}
