${javaAutoGenerationComment}

package ${package}.criteria;

import com.kodemore.collection.*;
import com.kodemore.hibernate.*;
import com.kodemore.hibernate.basic.*;
import com.kodemore.time.*;
import com.kodemore.types.*;

import ${package}.dao.*;
import ${package}.dao.base.*;
import ${package}.dao.core.*;
import ${package}.filter.*;
import ${package}.model.*;
import ${package}.model.meta.*;

public class ${model.f_JunctionClass}
    extends KmhModelJunction
    implements ${model.f_DaoConstantsIF}
{
$utility.protocol("constructor")

    public ${model.f_JunctionClass}(KmhJunction context)
    {
        super(context);
    }

$utility.protocol("properties")

#foreach ( $field in $model.fields )
#if ( $field.isDaoProperty() )
    public ${field.f_CriteriaClass} where${field.f_Name}()
    {
        return new ${field.f_CriteriaClass_NoGeneric}(context(), fullName(${field.f_NAME}));
    }

#end
#end
$utility.protocol("associations")

$utility.protocol("junction")

    public ${model.f_JunctionClass} addAnd()
    {
        return new ${model.f_JunctionClass}(context().addAnd());
    }

    public ${model.f_JunctionClass} addOr()
    {
        return new ${model.f_JunctionClass}(context().addOr());
    }

}
