${javaAutoGenerationComment}

package ${package}.finder;

import com.kodemore.collection.*;
import com.kodemore.command.*;
import com.kodemore.utility.*;

import ${package}.dao.*;
import ${package}.dao.base.*;
import ${package}.finder.core.*;
import ${package}.model.*;

public final class ${model.f_FinderClass}
    implements KmKeyFinderIF<${model.f_Class},${model.primaryKeyField.f_Type}>
{
$utility.protocol("instance")

    public static final ${model.f_FinderClass} instance = new ${model.f_FinderClass}();

$utility.protocol("constructor")

    private ${model.f_FinderClass}()
    {
        // private
    }

$utility.protocol("find")

    @Override
    public ${model.f_Class} find(${model.primaryKeyField.f_Type} key)
    {
        return new ${model.f_DaoClass}().find${model.primaryKeyField.f_Name}(key);
    }

    public ${model.f_Class} findDao(${model.primaryKeyField.f_Type} key)
    {
        return KmDao.fetch(this::find, key);
    }
}
