${javaAutoGenerationComment}

package ${package}.ui.servlet.base;

import com.kodemore.servlet.*;

#foreach ( $package in $root.activityPackageNames )
import ${package}.*;
#end

public abstract class ${Prefix}ActivityRegistryBase
    extends ScActivityRegistry
{
    @Override
    protected void registerActivities()
    {
        super.registerActivities();
        
#foreach ( $e in $root.activityClassNames )
        add(${e}.instance);
#end
    }
}
