
/* line 139 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */

/* line 1 : C:\Users\Wyatt\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */

/* line 18 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */

/* line 22 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu{display:inline-block;position:relative;text-align:left;width:150px;padding:10px 15px;font:bold 14px sans-serif;background:#eee linear-gradient(to bottom,#fff,#eee);border:1px solid #00f;border-radius:5px;cursor:pointer;outline:none;transition:all .2s ease-out}
/* line 42 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu:hover{background:#eee linear-gradient(to bottom,#eee,#fff)}
/* line 47 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */

/* line 48 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu:after{content:"";width:0;height:0;position:absolute;top:50%;right:15px;margin-top:-3px;border-width:6px;border-style:solid;border-color:#00f transparent;border-bottom:none}
/* line 65 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */

/* line 69 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu ul{position:absolute;top:100%;left:10px;right:5px;margin:0;background:#fff;padding:0;border:2px solid #00f;border-top:none;border-bottom:none;border-radius:0 0 5px 5px;list-style:none;transition:all .2s ease-out;max-height:0;overflow:hidden}
/* line 92 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu ul li{color:#000;font:normal 14px sans-serif;text-decoration:none;padding:10px;border-bottom:1px solid #d3d3d3;transition:all .1s ease-out}
/* line 102 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu ul li:last-of-type{border:none}
/* line 107 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */

/* line 111 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu.open{border-radius:5px 5px 0 0;background:#08f;box-shadow:none;color:#fff}
/* line 120 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu.open:after{border-color:#fff transparent}
/* line 125 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu.open ul{border-bottom:2px solid #00f;max-height:400px}
/* line 132 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */

/* line 136 : C:\projects\paragon-server\web\static\version\app\theme\default\css\dropdownMenu.styl */
.dropdownMenu ul li:hover{background:#ffa}